In [1]:
import pandas as pd

In [3]:
main_df = pd.read_excel('../data/메인 데이터 프레임2.xlsx',index_col=0)
main_df.head()

,회사명,시장종류,거래소코드,회계년도,상장일,label,평균근속연수,설립일,주거래은행,R&D 비용,업력
0,(주)CMG제약,kosdaq,58820,2011-12-01,2001-08-31,0,3년8개월,2001/08/01,KEB하나은행,3.08,10
1,(주)CMG제약,kosdaq,58820,2012-12-01,2001-08-31,0,2.9,2001/08/01,KEB하나은행,2.58,11
2,(주)CMG제약,kosdaq,58820,2013-12-01,2001-08-31,0,3.94,2001/08/01,KEB하나은행,31.98,12
3,(주)CMG제약,kosdaq,58820,2014-12-01,2001-08-31,0,2.69,2001/08/01,KEB하나은행,18.64,13
4,(주)CMG제약,kosdaq,58820,2015-12-01,2001-08-31,0,3.31,2001/08/01,KEB하나은행,22.22,14

In [7]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17487 entries, 0 to 17486
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     17487 non-null  object
 1   시장종류    17487 non-null  object
 2   거래소코드   17487 non-null  int64
 3   회계년도    17487 non-null  datetime64[ns]
 4   상장일     17487 non-null  datetime64[ns]
 5   label   15896 non-null  object
 6   평균근속연수  14449 non-null  object
 7   설립일     17487 non-null  object
 8   주거래은행   17474 non-null  object
 9   R&D 비용  11715 non-null  float64
 10  업력      17487 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(6)
memory usage: 1.6+ MB

In [4]:
x =pd.read_excel('./임원진 주식 보유 최종.xlsx',index_col=0)
x.head(5)

   거래소코드     회계년도    발행 주식수  소유주식(보통주)  임원진 주식 보유
0    250  2011/12  20000000    1600750       8.00
1    250  2012/12  20000000    1600750       8.00
2    250  2013/12  20000000    1600750       8.00
3    250  2014/12  21052907    1600750       7.60
4    250  2015/12  21237166    1600750       7.54

In [6]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15441 entries, 0 to 15440
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   거래소코드      15441 non-null  int64
 1   회계년도       15441 non-null  object
 2   발행 주식수     15441 non-null  int64
 3   소유주식(보통주)  15441 non-null  int64
 4   임원진 주식 보유  15439 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 723.8+ KB

In [8]:
x['회계년도'] = pd.to_datetime(x['회계년도'], format='%Y/%m')

In [13]:
x = x[['거래소코드','회계년도','임원진 주식 보유']]

In [14]:
main_df = pd.merge(left=main_df,right=x,how='left',on = ['거래소코드','회계년도'])

In [15]:
main_df

,회사명,시장종류,거래소코드,회계년도,상장일,label,평균근속연수,설립일,주거래은행,R&D 비용,업력,임원진 주식 보유
0,(주)CMG제약,kosdaq,58820,2011-12-01,2001-08-31,0,3년8개월,2001/08/01,KEB하나은행,3.08,10,0.00
1,(주)CMG제약,kosdaq,58820,2012-12-01,2001-08-31,0,2.9,2001/08/01,KEB하나은행,2.58,11,0.00
2,(주)CMG제약,kosdaq,58820,2013-12-01,2001-08-31,0,3.94,2001/08/01,KEB하나은행,31.98,12,0.00
3,(주)CMG제약,kosdaq,58820,2014-12-01,2001-08-31,0,2.69,2001/08/01,KEB하나은행,18.64,13,0.00
4,(주)CMG제약,kosdaq,58820,2015-12-01,2001-08-31,0,3.31,2001/08/01,KEB하나은행,22.22,14,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
17482,흥구석유(주),kosdaq,24060,2018-12-01,1994-12-07,0,6.02,1966/12/16,DGB대구은행,NaN,24,33.09
17483,흥구석유(주),kosdaq,24060,2019-12-01,1994-12-07,0,6.23,1966/12/16,DGB대구은행,NaN,25,31.19
17484,흥구석유(주),kosdaq,24060,2020-12-01,1994-12-07,0,7.54,1966/12/16,DGB대구은행,NaN,26,29.86
17485,흥구석유(주),kosdaq,24060,2021-12-01,1994-12-07,0,7.61,1966/12/16,DGB대구은행,NaN,27,29.86
17486,흥구석유(주),kosdaq,24060,2022-12-01,1994-12-07,0,7.8,1966/12/16,DGB대구은행,NaN,28,29.86

In [16]:
y = pd.read_excel('./최대주주 변경 최종.xlsx',index_col=0)
y.head(5)

        회사명  거래소코드     회계년도       성명  다음년도_성명_변경여부  최대주주변경 횟수
0  (주)CMG제약  58820  2011/12  {'김원정'}         False          0
1  (주)CMG제약  58820  2012/12    {nan}          True          1
2  (주)CMG제약  58820  2013/12    {nan}         False          1
3  (주)CMG제약  58820  2014/12    {nan}         False          1
4  (주)CMG제약  58820  2015/12    {nan}         False          1

In [18]:
y['회계년도'] = pd.to_datetime(y['회계년도'], format='%Y/%m')
y = y[['거래소코드','회계년도','최대주주변경 횟수']]

In [21]:
main_df = pd.merge(left=main_df,right=y,on=['거래소코드','회계년도'],how='left')

In [23]:
main_df.to_excel('./메인데이터프레임.xlsx')